{{ define "content" }}
{{ $cdn_url := .Scratch.Get "cdn_url" }}
<div class="post-warp archive">
    <h1 class="post-title" style="text-align:right;padding-bottom:2em">{{ .Title }}</h1>
    <div class="post-content">
        <!--featured_image-->

        {{ $images := findRE "<img src=\"[^\"|\\\"]*\"" .Content -}}
        {{ if ge (len $images) 1}}
            {{ $.Scratch.Set "postHasImages" true }}
        {{ end }}

        {{ with .Params.featured_image }}
          {{- $img := . -}}
          <img src="{{ printf "%s%s" $cdn_url $img }}" class="featured_image" style="margin-left:auto !important;margin-right:auto !important;width:auto !important;">
        {{ end }}
        {{ with .Params.copyright }}
        <div style="text-align:right;">
            <span align="right;" style="font-size:small">Image &copy; {{ now.Year }} Dave Bell</span>
        </div>
        {{ end }}
        <!-- end featured_image-->
        <div class="post-meta" style="text-align:right;padding-bottom:2em;">
            {{ i18n "Written" }} {{ i18n "by" }} <a href="{{ `author/` | relLangURL }}{{ .Params.Author | urlize }}" rel="author">{{ if isset .Params "author" }}{{ .Params.author }}{{ else }}{{ .Site.Params.author }}{{ end }}</a> 
                <span class="post-time">
                    {{ i18n "on" }} <time datetime={{.Date.Format (.Site.Params.dateFormatToUse | default "2006-01-02") }} >{{ .Date.Format (.Site.Params.dateFormatToUse | default "2 January 2006") }}</time>
                </span>
                | <i class="iconfont icon-timer"></i>
                {{.ReadingTime }} mins |
                {{ if and ( $.Param "socialShare" ) (gt (len ($.Param "share")) 0) }}
                <span>{{ i18n "Share" }}:</span>
                <span>{{ partial "share-links.html" . }}</span>
                {{ end }}
        </div>
        {{ .Content }}
    </div>
    <div class="post-copyright" style="text-align:center;">
        
        <p class="copyright-item">
            {{ if and ( $.Param "socialShare" ) (gt (len ($.Param "share")) 0) }}
            <span>{{ i18n "Share" }}:</span>
            <span>{{ partial "share-links.html" . }}</span>
            {{ end }}
        </p>

        {{ with .Site.Params.license }} 
        <p class="copyright-item">
            {{ . | safeHTML}}
        </p>
        {{ end }}

</div>
</div>
{{end }}