{{ define "content" }}
{{ $cdn_url := .Scratch.Get "cdn_url" }}
<div class="post-warp archive">
    <h1 class="post-title" style="text-align:right;padding-bottom:2em">About the Author: {{ .Title }}</h1>
    <div class="post-content">
        <!--featured_image-->

        {{ $images := findRE "<img src=\"[^\"|\\\"]*\"" .Content -}}
        {{ if ge (len $images) 1}}
            {{ $.Scratch.Set "postHasImages" true }}
        {{ end }}

        {{ with .Params.featured_image }}
          {{- $img := . -}}
          <img src="{{ printf "%s%s" $cdn_url $img }}" class="featured_image" style="margin-left:auto !important;margin-right:auto !important;width:auto !important;">
        {{ end }}
        {{ with .Params.copyright }}
        <div style="text-align:right;">
            <span align="right;" style="font-size:small">Image &copy; {{ now.Year }} Dave Bell</span>
        </div>
        {{ end }}
        <!-- end featured_image-->
        {{ .Content }}
    </div>
    <div class="social-links" style="text-align:center;padding-bottom:2em;padding-top:2em">
        {{/*  {{ range .Params.social }}  */}}
        {{/*  <a href="{{ .link | safeURL}}" rel="me noopener noreffer" target="_blank"><i class="{{ .icon }}"></i></a>  */}}
        {{/*  {{ end }}<br>  */}}
        Follow {{ .Title }}!<br>
        {{ partial "social.html" . }}
        
    </div>
    <h3 style="text-align:center;padding-bottom:2em">Read more from {{ .Title }}:</h3>
    {{ range where .Site.RegularPages "Params.author" .Title }}
    <article class="post" itemscope itemscope="" itemtype="http://schema.org/Article">

        <header class="post-header">
            <h1 class="post-title" itemprop="name headline"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
        </header>
        <div class="post-content">
            <!--featured_image-->
            {{ with .Params.featured_image }}
            {{- $img := . -}}
            <p><img src="{{ printf "%s%s" $cdn_url $img }}" class="featured_image"></p>
            {{ end }}
            <!-- end featured_image-->

            {{ .Summary }}
        </div>
        <div class="post-footer">
            <div class="post-meta">
                <span class="post-time">
                    <time datetime={{.Date.Format (.Site.Params.dateFormatToUse | default "2006-01-02") }}
                        itemprop="datePublished">{{ .Date.Format (.Site.Params.dateFormatToUse | default "2 January 2006") }}</time>
                </span>
                {{ with .Params.categories -}}
                in
                <i class="iconfont icon-folder"></i>
                <span class="post-category">
                    {{ range . }}
                    {{- $name := . -}}
                    {{- with $.Site.GetPage "taxonomy" (printf "categories/%s" $name) | default ($.Site.GetPage "taxonomy" (printf "categories/%s" ($name | urlize))) -}}
                    <a href="{{ .Permalink }}"> {{ $name }} </a>
                    {{ end -}}
                    {{ end }}
                </span>
                {{- end }}
            </div>
            {{ with .Params.tags }}
            <div class="post-tags">
                {{ range . }}
                <span class="tag"><a href="{{ "tags/" | absURL }}{{ . | urlize }}/">
                        #{{.}}</a></span>
                {{ end }}
            </div>
            {{ end }}
        </div>
    </article>
    {{ end }}
    <div class="post-copyright" style="text-align:center;">
        
        <p class="copyright-item">
            {{ if and ( $.Param "socialShare" ) (gt (len ($.Param "share")) 0) }}
            <span>{{ i18n "Share" }}:</span>
            <span>{{ partial "share-links.html" . }}</span>
            {{ end }}
        </p>

        {{ with .Site.Params.license }} 
        <p class="copyright-item">
            {{ . | safeHTML}}
        </p>
        {{ end }}

</div>
{{end }}