{{- $pc := .Page.Site.Config.Privacy.Twitter -}}
{{- if not $pc.Disable -}}
{{- if $pc.Simple -}}
{{ template "_internal/shortcodes/twitter_simple.html" . }}
{{- else -}}
{{- $url := printf "https://api.twitter.com/1/statuses/oembed.json?id=%v&dnt=%t" (index .Params 0) $pc.EnableDNT -}}
{{- $json := getJSON $url -}}
{{ template "__h_twitter_css" $ }}
{{ $json.html | safeHTML }}
{{- end -}}
{{- end -}}

{{ define "__h_twitter_css" }}
{{ if not (.Page.Scratch.Get "__h_twitter_css") }}
{{/* Only include once */}}
{{  .Page.Scratch.Set "__h_twitter_css" true }}
<style type="text/css">
  .twitter-tweet {
  font: 14px/1.45 -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  margin-left: auto;
  margin-right: auto;
  color: #555;
}
</style>
{{ end }}
{{ end }}