{{- /* Modern Twitter/X embed: blockquote + widgets.js renders a full embedded tweet client-side. */ -}}
{{- $id := .Get 0 -}}
{{- $user := .Get 1 | default "x" -}}
<blockquote class="twitter-tweet" data-dnt="true">
  <a href="https://twitter.com/{{ $user }}/status/{{ $id }}"></a>
</blockquote>
{{ if not (.Page.Scratch.Get "__twitter_widgets_loaded") }}
{{   .Page.Scratch.Set "__twitter_widgets_loaded" true }}
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
{{ end }}
